body {
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: #445C8F
}

canvas {
	width: 600px;
	height: 600px;
}

#myCanvas {
	background-color: #694291;
	border: 5px solid black;
	width: 600px;
	height: 600px;
	text-align: left;
	margin: 50px;
}